<div class="card-body-other-message-container" id="message-<%= message.id %>">
  <i class="author">
    <div class="message-top">
      <div class="message-name">
        <span><%= message.user.name %></span>
      </div>
      <div class="message-date">
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </div>
    </div>
  </i>
  <p><%= message.content %></p>
</div>
