// Define variables for your color scheme

// For example:
$green: #00D7A7;
$blue: #1D3461;
$blue-second: #396CAA;
$blue-third: #D4ECFF;
$premium: #F5A623;
$red: #C4183C;
$grey:#5A6169;
$card-grey: #8F9BB3;
$light: #E9ECEF;
$dark: #212529;
$white: #FFFFFF;
