// Import Google fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
// Define fonts for body and headers
$body-font: "Poppins";
$headers-font: "Poppins";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h1{
    font-size: 50px;
    color: $green;
    font-weight: 700 !important;
}

h2{
    font-size: 100px;
    color: $blue;
    font-weight: 700 !important;
}

h3{
    font-size: 38px;
    color: $blue;
    font-weight: 700 !important;
}

h4{
    font-size: 12px;
    color: $card-grey;
    text-transform: uppercase;
}


p {
    font-size: 22px;
    color: $grey;
    text-align: left;
}

.card-text {
    font-size: 15px;
    color: $card-grey;
    text-align: left;
}

.card-tile {
  margin: 15px 0px 0px 15px;
}

.card-premium {
  margin: 15px 0px 0px 15px;
  color: $premium ;
}

.card-profil-name {
  font-family: Poppins;
  font-size: 30px;
  color: $blue;
  letter-spacing: 0;
  text-align: left;
}

a {
    text-decoration: none;
}

