.cirle {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.last-message{
    background-color: white;
    opacity: 1;
    margin:10%;
}

.close{
    margin-left:20px;
}
