// Specific CSS for your home-page

body {
    background-color: #ffffff;
}

.banner {

}
.banner-content {
    display:flex;
    // justify-content: space-around;
}

.special-word-title {
    color:#00d7a7;
}

.special-word-premium {
    color: #f5a623;
}

.banner-bottom {
    display:flex;
    justify-content: space-around;
    margin: 5%;
}

.btn-inscription {
    text-decoration: none;
    text-align: center;
    color:white;
    background-color: #00d7a7;
    border-radius: 50px;
    width: 150px;
    height:50px;
    padding-top:8px;
}

.btn-video {
    text-align: center;
    color:#1D3461;
    background-color: white;
    border-radius: 50px;
    border-color: #1D3461;
    border-style: solid;
    width: 300px;
    height:50px;
    padding-top:12px;
}

.search-home {
    margin-top:10%;
    background: linear-gradient(#d4edff, #ffffff);
    padding : 5%;
    border-radius: 100% 100% 0px 0px;
}

.research {
    text-align: center;
    margin: 5%;
}

.mde1-details {
    display:flex;
}


.card {
    border-radius:30px;
    background-color:white;
    box-shadow: 5px 5px 5px #9c97ad;
    height:450px;
}

.card-bottom {
    display:flex;

}

.step-yam {
    display:flex;
    justify-content: space-around;
    margin: 20px;
}

.banner-top-right {
    margin:auto;
}


.dot {
    color:white;
    height: 50px;
    width: 50px;
    background-color: #00d7a7;
    border-radius: 50%;
    display: inline-block;
  }

  a {
    text-decoration: none;
}

.home-contact {
    display:flex;
}

