// Specific CSS for your home-page

.home-container{
    max-width: fit-content;
    margin:5% 10% 10% 10%;
}

body {
    background-color: #ffffff;
}

.banner {
    margin-top: auto;

}
.banner-content {
    display:flex;
    // justify-content: space-around;
}


h2{
    text-align: center;
    padding-bottom: 2%;
}

.special-word-title {
    color:#00d7a7;
}

.special-word-premium {
    color: #f5a623;
}

.banner-bottom {
    display:flex;
}

.btn-inscription {
    text-decoration: none;
    text-align: center;
    color:white;
    background-color: #00d7a7;
    border-radius: 50px;
    width: 150px;
    height:50px;
    padding-top:8px;
    margin : 0% 5% 0% 0%;
}

.droit.svg {
    width:800px;
}

.btn-video {
    text-align: center;
    color:#1D3461;
    background-color: white;
    border-radius: 50px;
    border-color: #00D7A7;
    border-style: solid;
    width: 300px;
    height:50px;
    padding-top:5px;
}


.search-home {
    margin-top:10%;
    background: linear-gradient(#d4edff, #ffffff);
    padding : 10%;
    border-radius: 100% 100% 0px 0px;
}

.research {
    text-align: center;
    margin: 5%;
}

.mde{
 margin-top: 50px;
}

.mde1-details {
    display:flex;
    margin: 10% 0% 10% 0%;
}

.mde1{
    margin: 0px 50px 0px 0px;
}
.mde2{
    margin: 10% 0% 10% 0%;
}

.mde3{
    margin: 10% 0% 10% 0%;
}

.mde4{
    margin: 10% 0% 10% 0%;
}

.mde5{
    margin: 10% 0% 10% 0%;
}

.card {
    border-radius:30px;
    background-color:white;
    box-shadow: 5px 5px 5px #9c97ad;
    height:450px;
}

.card-bottom {
    display:flex;

}

.step-yam {
    display:flex;
    justify-content: space-around;
    margin: 20px;
}

.banner-top-right {
    margin:auto;
}

.banner-top-left {
    margin-top: 5%;
    margin-right:10%;
}

.dot {
    color:white;
    height: 50px;
    width: 50px;
    background-color: #00d7a7;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    margin:10px;
  }

  a {
    text-decoration: none;
}

p {
    text-align: center;
    padding-bottom: 2%;
}

.home-contact {
    display:flex;
}

.home-contact-txt{
    width: 50%;
}

