// Import page-specific CSS files here.
@import "home";
@import "profile";
@import "show-flat";
@import "premium";
@import "dashboard";

.main-container {
  display: flex;
}

.page-h2 {
  padding: $spacer * 3 !important;
  text-align: left;
}
