.card-top{
  display: flex;
  justify-content: left;
  align-items: top;
}

.description{
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-radius: 15px;
  border-width: 2px;
  padding : 5px;
  border-color: $card-grey;
  color: $card-grey;
  text-align: center;
  min-height: 150px;
}

.fa-star:before {
  content: "\f005";
  color: $premium;
  font-size: 20px;
}

.description-right{
  display: flex;
  flex-direction: column;
}

.title-profile{
  margin-top:10px;
  margin-bottom:0px !important;
  font-weight: 600;
  color: $card-grey;
  margin: 0.7rem 0rem !important;
}

.card-form{
  padding: 3%;
  height: auto;
  display:flex;
  flex-direction: column;
}

.pref-2{
  width:100%;
  display:flex;
  justify-content: space-between;
}

.input #preference {
  border-radius: 100px;
}

.form-control{
  border-radius: 50px;
}
