.card-top{
  display: flex;
  justify-content: left;
  align-items: top;
}

.description{
  border-style: solid;
  border-radius: 15px;
  border-width: 2px;
  padding : 5px;
  border-color: $card-grey;
  color: $card-grey;
  min-height: 150px;
}

.fa-star:before {
  content: "\f005";
  color: $premium;
  font-size: 20px;
}

.description-right{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}


.card-form{
  padding: 3%;
  height: auto;
  display:flex;
  flex-direction: column;
}

.pref-2{
  width:100%;
  display:flex;
  justify-content: space-between;
}

.input #preference {
  border-radius: 100px;
}

.form-control{
  border-radius: 50px;
}
