.card-flat {
  width: 350px;
  height: 374px;
  border-radius: 20px;
  box-shadow: 0 15px 22px 0 rgba(90,97,105,0.10);
  text-decoration:none;
  flex: 0 0 30%;
}


.main-card {
  border-radius: 20px;
  box-shadow: 0 15px 22px 0 rgba(90,97,105,0.10);
  text-decoration:none;
}
