<div class="background" style="height: 100%;">
  <div class="container-fluid w-75 fixed-footer">
      <h2 class="page-h2">Les appartements sélectionnés pour vous</h2>
      <div class="card mb-4" style="height: 4rem;">
           <%= render 'shared/preferences_card' %>
        </div>
      <%= render 'shared/display_flats', flats: @flats %>
  </div>
</div>
