<div class="background" style="height: 100%;">
  <div class="container-fluid w-75 fixed-footer">
      <h2 class="page-h2">Les appartements sélectionnés pour vous</h2>
      <%= render 'shared/display_flats' %>
  </div>
</div>
