<div class="card-body d-flex h-100 align-items-center justify-content-center" id="card-parent">
  <div class="overlay">
    <%= image_tag "lock.svg", height: 45, width: 45, class: "lock-icon" %>
  </div>

  <%= image_tag "upload-cloud.svg", height: 45, width: 45%>
  <div class="dossier ml-4 mr-4">CRÉER MON DOSSIER ÉTUDIANT</div>
</div>

