<div class="footer-under">
  <div class="footer-u-links">
  <%= link_to 'Copyright 2020-Yam','#'%>
  <%= link_to 'Mentions légales','#'%>
  <%= link_to 'Conditions Génerales de Vente','#'%>
  </div>
</div>
