<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/yam_community/?hl=fr" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/yourapartmentmate/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"target="_blank"></i></a>
    <a href="https://www.linkedin.com/company/y-a-m/?originalSubdomain=fr"target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i>  from Lille
  </div>
</div>

