<div>
  <div class="description-review">
    <%= @last_review.content %>
    <div class="description-right">
      <%= image_tag "anonyme2.jpg", class: "avatar-small", alt: "avatar-small" %>
      <%= @reviewer.name %>
    </div>
  </div>
</div>
