<div class="card mt-3 justify-content-center d-none d-md-block" style="height: 12rem;">
  <div class="card-body d-flex h-100 align-items-center justify-content-center">
    <i class="fas fa-external-link-alt"></i>
    <p class="m-0">Jean P, proprio des famé</p>
      <%= link_to 'Reviews', profile_reviews_path(@flat.user), class: "btn btn-primary" %>
  </div>
</div>
