<div class="card mt-3 justify-content-center d-none d-md-block" style="height: 12rem;">
  <div class="card-body d-flex h-100 align-items-center justify-content-center">
    <i class="fas fa-external-link-alt"></i>
    <p class="m-0">
      <div class="card-body">
      <p><small> <%= @flat.user.name %></small></p>

      <p><small> <%= @flat.user.email %></small></p>

      <p> <small><%= @flat.user.user_type  %></small></p>
      </div>
    </p>
      <%= link_to 'Reviews', profile_reviews_path(@flat.user), class: "btn btn-primary" %>
  </div>
</div>
