<div class="card mt-4" id="yam-pre" style="height: 18rem;">
    <div id="premium">
    </div>
    <div class="">
      <h4 class="card-premium m-4">PASSER PREMIUM</h4>
      <div class="m-4">
        <p class="card-text mr-3 mt-5">Des visites à la remise des clés, avec Yam premium nous vous proposons une solution simple et complète où nous gérons votre recherche.  Et c’est satisfait ou remboursé.</p>
      </div>
      <div class="m-4">

      <%# current_page?(flat_path) %>
        <%# link_to "Postulez directement", premium_subscription_path(@premium_subscription), class: "btn btn-premium mr-2", "data-toggle" => "modal", 'data-target' => '#premiumModal'%>
      <%# else %>
        <%= link_to "C'est parti !", premium_subscription_path(@premium_subscription), class: "btn btn-premium mr-2", "data-toggle" => "modal", 'data-target' => '#premiumModal'%>
      <%# end %>
        <%= link_to "En savoir +",  root_path(anchor: 'yam-premium'), class: "btn btn-secondary"  %>

      </div>
    </div>
</div>
