<div class="container d-flex align-items-center justify-content-around">
<div class="fas fa-building ">

</div>
<%= @preference.price_per_month %>
<%= @preference.flat_type %>
<%= @preference.surface_area %>
<%= link_to "Modifier ma recherche", profile_path(current_user), class: "btn btn-outline-secondary btn-details" %>
</div>
