<div class="stars m-2 mt-4">
  <%= '<i class="fas fa-star"></i>'.html_safe * current_user.average_ratings %>
  <%= '<i class="far fa-star"></i>'.html_safe * ( 5- current_user.average_ratings) %>
</div>
