<div class="card mt-4" id="yam-pre" style="height: 18rem;">
  <div id="premium">
  </div>
  <div class="card-body">
    <h4 class="card-title">PASSER PREMIUM</h4>
    <p class="card-text">Des visites à la remise des clés, avec Yam premium nous vous proposons une solution simple et complète où nous gérons votre recherche.  Et c’est satisfait ou remboursé.</p>
      <div class="d-flex m-4 ">
        <%  #ici modifier le code et dire current page %>
          <!-- <a href="#" class="btn btn-premium m-2">Postuler directement</a> -->
        <% #else %>
          <a href="#" class="btn btn-premium m-2">C'est parti !</a>
        <%# end %>

        <a href="#" class="btn btn-secondary m-2"> En savoir +</a>
      </div>
  </div>
</div>


