<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="banner">
  <div class="banner-content">
      <div class="banner-top-left">
        <h1>La communauté de confiance pour trouver son logement étudiant.</h1>
        <p> Yam, c’est l’application qui favorise vos chances de trouver l’appartement idéal grâce à votre réseau étudiant ! <p>
      </div>
      <div class="banner-top-right">
         <img src="" alt=""> 
      </div>
      <div class="banner-bottom">
        <p class="btn-inscription">S'inscrire</p>
        <p class="btn-video">Regarder la vidéo</p>
      </div>
</div>
</div class="container">
    <div class="search-home">
      <h2>Trouver un appartement près de votre école</h2>
      <div class="research">>>inserer la barre de recheche codée par Ludo<<</div>
    </div>

    <div class="mde">
        <h2>Comment ça marche ?</h2>
        <div class="mde1">
            <p class="mdr-title"> Remplissez vos critères. <p>
            <p>Your Apartment Mate utilise la force du réseau étudiant en mettant en relation locataire sortant et étudiant en recherche.</p>
        </div>
    </div>
    
</div>
    