<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<!-- <div class="wrapper">
  <div class="search_box">
      <input type="text" placeholder="what are you looking for?">
      <i class="fas fa-search"></i>
  </div>
</div> -->




  </div>
</div>
