<%= form_tag home_search_path, method: :get do %>
  <span class="fas fa-search"></span>
  <%= text_field_tag :query, params[:query], class: "search_box", placeholder: "What is your school ?"%>
<% end %>

