<div class="container">
  <h1>Souscrire à Prmeium</h1>
  <div class="row">
    <% @premium_subscriptions.each do |premium_subscription| %>
      <div class="col-6 col-md-4">
        <div class="card">

          <div class="card-body">
            <h5 class="card-title"><%= premium_subscription.name %></h5>
            <p class="card-text"><%= premium_subscription.category.name %></p>
            <%= link_to "More details", premium_subscription_path(premium_subscription), class: "btn btn-primary" %>
            <p>Amount: <%=  %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
