.btn-primary{
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 500;
  color:white;
  background-color: $primary;
  border-radius: 28px;
  width: 150px;
  border: none;
}


.btn-seemore{
  text-decoration: none;
  text-align: center;
  color: $primary ;
  background-color: #00d7a7;
  border-radius: 20px;
}

.btn-flats{
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 500;
  color:white;
  background-color: $primary;
  border-radius: 28px;
  width: 150px;
  border: none;
  min-height: 2.5em;
}

.btn-details{
  font-size: 15px;
  border-radius: 28px !important;
  color: $card-grey;
  border-color: $card-grey;
  width: 210px;
}


.btn-premium{
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 500;
  color:white;
  background-color: $premium;
  border-radius: 28px;
  width: 150px;
}

.btn-secondary{
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 500;
  color:white;
  background-color: $secondary;
  border-radius: 28px;
  width: 150px;
}
