.btn-primary{
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-family: Poppins-Medium;
  color:white;
  background-color: $primary;
  border-radius: 28px;
  width: 150px;
  min-height: 2.5rem;
  border: none;
}

.btn-details{
  text-decoration: none;
  text-align: center;
  color:white;
  background-color: #00d7a7;
  border-radius: 20px;
  width: 100px;
  min-height: 2.5rem;
  padding-top:8px;
}

.btn-premium{
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-family: Poppins-Medium;
  color:white;
  background-color: $premium;
  border-radius: 28px;
  width: 150px;
  min-height: 2.5rem;
}

.btn-secondary{
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-family: Poppins-Medium;
  color:white;
  background-color: $secondary;
  border-radius: 28px;
  width: 150px;
  min-height: 2.5rem;
}
