.btn-primary{
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 500;
  color:white;
  background-color: $primary;
  border-radius: 28px;
  min-width: 150px;
  border: none;
}


.btn-seemore{
  text-decoration: none;
  text-align: center;
  color: $primary ;
  background-color: #00d7a7;
  border-radius: 20px;
}

.btn-flats{
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 500;
  color:white;
  background-color: $primary;
  border-radius: 28px;
  width: 150px;
  border: none;
  min-height: 2.5em;
}

.btn-details{
  font-size: 15px;
  border-radius: 28px !important;
  color: $card-grey;
  border-color: $card-grey;
  width: 210px;
  padding-top: 1%;
}


.btn-premium{
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 500;
  color:white;
  background-color: $premium;
  border-radius: 28px;
  width: 150px;
}

.btn-secondary{
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 500;
  color:white;
  background-color: $secondary;
  border-radius: 28px;
  width: 150px;
}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $green;
}

input:focus + .slider {
  box-shadow: 0 0 1px $green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}