a:hover {
  text-decoration: none;
}

.card {
  box-shadow: 0 15px 22px 0 rgba(90,97,105,0.10) !important;
  border: none !important;
}

.cards-container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;

}

.card-flat {
  min-width: 350px;
  height: 374px;
  border-radius: 20px;
  box-shadow: 0 15px 22px 0 rgba(90,97,105,0.10);
  text-decoration:none;
  background-color: white;
  margin: 1rem;
}

.card-img {
  overflow: hidden;
}

.card-img img {
  width:100%;
  border-radius: 20px 20px 0px 0px;
}

.card-price {
  font-family: Poppins-Medium;
  font-size: 25px;
  color: $primary;
}

#per-month {
  color: $primary;
}
