.card-body-message-container{
  border-radius: 15px !important;
  background-color: $blue-third;
  padding: 6px;
  width: 350px;
  margin-right: 100px !important;
  margin-left: 100px !important;
  margin:16px;
  overflow-wrap: break-word;

    p {
    font-size: 16px;
    padding: 4px;
    color: black;
    text-align: left;
    }
}

.container small {
  color: black;
}

.container {
  justify-content: space-around;
}
.detail{
  display-flex:end;
}

.message-top{
  display:flex;
  justify-content: space-between;
}

.card-body-other-message-container{
  border-radius: 15px !important;
  background-color: #E9EBEE;
  padding: 6px;
  width: 350px;
  margin: 16px;
  height: auto;
  overflow-wrap: break-word;



   p {
    font-size: 16px;
    padding: 4px;
    color: black;
    text-align: left;
    }
}

#messages {
  width: 550px;
  margin-top: 24px;
}

.mes-messages{

  position: relative;
  border-right: 1px solid;
  border-color: linear-gradient(#FFFFFF, #145871, #FFFFFF);
  border-radius: 2px;
  margin: 24px 24px 24px 24px;
  padding: 16px;
  margin-right: 20px;
  h4{
    color: #145871 !important;
  }
}
.mes-chatrooms{
  flex-direction:column;
}

