#nav-premium {
  color: $premium;
}

#nav-standard {
  color: $secondary;
}

.navbar-brand:hover  {
  border-bottom: 0px !important;
}

.navbar-brand {
  font-size: 0rem !important;
}

.navbar-yam {
  justify-content: space-between;
  background: white;
  align-item: flex-end;
  padding-bottom: 0px !important;
}

.navbar-yam .navbar-collapse {
  flex-grow: 0;
}

.navbar-yam  a:hover {
  color: $secondary !important;
  border-bottom: 3px solid $secondary;
}

.nav-active a:hover {
  border-bottom: 0px;
}

.fixed-footer{
  min-height: calc(100vh)
  // footer à ajouter puis calculer les bons pixels
}

.nav-active  {
  color: $primary !important;
  border-bottom: 3px solid $secondary;
}

#notif{
  border-radius: 50%;
  background-color: $red;
  color:white;
  align-items:flex-end !important;
}


