.navbar-yam {
  justify-content: space-between;
  background: white;
  align-item: flex-end;
  color: $secondary !important;
  padding-bottom: 0px !important;
}

.navbar-yam .navbar-collapse {
  flex-grow: 0;
}

.navbar-yam  a:hover {
  color: $primary !important;
  border-bottom: 3px solid $primary;
}

.fixed-footer{
  min-height: calc(100vh)
  // footer à ajouter puis calculer les bons pixels
}

#nav-premium {
  color: $premium;
}

.active a:hover  {
  color: $primary !important;
  border-bottom: none;
}

.nav-link {
  color: $secondary !important;
}

.nav-active  {
  color: $primary !important;
  border-bottom: 3px solid $primary;
}

.nav-item .active  {
  color: $primary !important;
  border-bottom: 3px solid $primary;
}


