.navbar-yam {
  justify-content: space-between;
  background: white;
}

.navbar-yam .navbar-collapse {
  flex-grow: 0;
}

.navbar-yam .navbar-brand svg {
  width: 40px;
}

//  .navbar a: {
//   color: $red !important;
// }

.navbar-yam  a:hover {
  color: #27D7A7 !important;
}

.fixed-footer{
  min-height: calc(100vh)
  // footer à ajouter puis calculer les bons pixels
}
