.status-ver{
  margin-left: 93px;
  margin-top: -38px;

}
.avatar-bubble-owner img {
  margin-top: -10px;
  margin-left: 5px;
  height: 68px;
  width: 68px;
}

small{
  size:16px;
  font-weight: bold;
}

.owner-stars{
  margin-left: 28px;
  margin-top: -20px;
  padding: 9px;
}

.btn-show-owner a {
  margin-left: 16px;
}

