.pref-details{
    display:flex;
    justify-content: space-between;
    margin:1%;
}

.preference{
    border-width: 2px;
    padding: 4px 30px;
    color: $card-grey;
    margin: 5px;
    font-size: 18px;
}

.green-detail{
    color:$green;
}

.dash-card-top{
    display:flex;
    margin-bottom:5%;
}

.dash-card-top-detail{
    margin-left: 5%;
}

.dash-card-top-detail-reviews{
    display:flex;
    flex-direction: column;
}


.dash-detail p {
    color: #8F9BB3;
    padding:2%;
}
