.search_box {
width: 100%;
top: 50%;
left: 50%;
background: rgba(0,0,0,0.3);
border-radius: 30px;
padding: 10px;
border: 2px solid #fff;
font-size: 18px;
color: #fff;
outline: none;
}


.someclass i {
 position: absolute;
 top:50%;
 right:50px;
}



