.status-not-verified {
  background: rgba(196,24,60,0.30);
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 16px;
  font-weight: 600;
  color: $red !important;
  font-size: 13px;
  text-align: center;
  line-height: 20.8px;
}


.status-verified{
  background: rgba(196,24,60,0.30);
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 16px;
  font-weight: 600;
  text-color: $primary;
  font-size: 13px;
  text-align: center;
  line-height: 20.8px;
}
