#premium {
  position: absolute;
  background-image: url("stars.svg");
  background-size: cover;
  height: 44%;
  width: 40%;
  right: 0px;

}

#yam-pre{
  position: relative;
}

.pack-premium {
  color: $premium;
}

.container-premium {
  width: 100%;
  padding: 5%;
  border: 2rem;
  display:flex;
  align-self: center;
  flex-direction: column;
}

.container-premium img {
  padding: 0% 20%;
}

.modal-content-premium {
  border-radius: 30px !important;
  border: 0.2rem solid !important;
  color: $premium;
}
